<div class="main section text-center topSpacing">
      <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title"><%= @title1 %></h2>
                    <div class="typography-line">
                    <blockquote class="blockquote">
                        <p class="mb-0"><%= @inspiration %></p>
                        <footer class="blockquote-footer"><%=  @owner %></footer>
                    </blockquote>
                    </div>  
                </div>
            </div>
          <br/><br/>
            <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <%= image_tag "blogs/postgres", alt:"Rounded Image", class:"img-rounded img-responsive" %>
                        <div class="img-details">
                            <div class="author">
                                <%= image_tag "faces/meandyou.jpeg", alt:"Circle Image", class:"img-circle img-no-padding img-responsive" %>
                            </div>
                            <h6 class="info-title"><%= @article8 %></h6>
                        <div class="toggle">
                            <div class="toggle-title ">
                                <p>
                                <span class="title-name btn btn-sm btn-link btn-info">About</span>
                                </p>
                            </div>
                            <div class="toggle-inner">
                                <p><%= @summary8 %></p>
                                <a href="https://www.linkedin.com/pulse/how-enable-remote-access-postgresql-server-everyday-ryanjeff/" class="btn btn-sm btn-outline-info btn-round" target="_blank" >Learn more</a>
                            </div>
                            </div><!-- End Toggle -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <%= image_tag "blogs/lead", alt:"Rounded Image", class:"img-rounded img-responsive" %>
                        <div class="img-details">
                            <div class="author">
                                <%= image_tag "faces/meandyou.jpeg", alt:"Circle Image", class:"img-circle img-no-padding img-responsive" %>
                            </div>
                            <h6 class="info-title"><%= @article1 %></h6>
                        <div class="toggle">
                            <div class="toggle-title ">
                                <p>
                                <span class="title-name btn btn-sm btn-link btn-info">About</span>
                                </p>
                            </div>
                            <div class="toggle-inner">
                                <p><%= @summary1 %></p>
                                <a href="https://www.linkedin.com/pulse/lead-entrepreneur-rj-brual-mba-cobit-5/?published=t" class="btn btn-sm btn-outline-info btn-round" target="_blank" >Learn more</a>
                            </div>
                            </div><!-- End Toggle -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                            <%= image_tag "blogs/strategic", alt:"Rounded Image", class:"img-rounded img-responsive" %>
                        <div class="img-details">
                            <div class="author">
                                <%= image_tag "faces/meandyou.jpeg", alt:"Circle Image", class:"img-circle img-no-padding img-responsive" %>
                            </div>
                            <h6 class="info-title"><%= @article2 %></h6>
                        <div class="toggle">
                            <div class="toggle-title ">
                                <p>
                                <span class="title-name btn btn-sm btn-link btn-info">About</span>
                                </p>
                            </div>
                            <div class="toggle-inner">
                                <p><%= @summary2 %></p>
                                <a href="https://www.linkedin.com/pulse/strategic-management-rj-brual-mba-cobit-5/" class="btn btn-sm btn-outline-info btn-round" target="_blank" >Learn more</a>
                            </div>
                            </div><!-- End Toggle -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <%= image_tag "blogs/network", alt:"Rounded Image", class:"img-rounded img-responsive" %>
                        <div class="img-details">
                            <div class="author">
                                <%= image_tag "faces/meandyou.jpeg", alt:"Circle Image", class:"img-circle img-no-padding img-responsive" %>
                            </div>
                            <h6 class="info-title"><%= @article3 %></h6>
                        <div class="toggle">
                            <div class="toggle-title ">
                                <p>
                                <span class="title-name btn btn-sm btn-link btn-info">About</span>
                                </p>
                            </div>
                            <div class="toggle-inner">
                                <p><%= @summary3 %></p>
                                <a href="http://ccnpredhot.blogspot.com/2009/07/ospf-design-and-concept.html" class="btn btn-sm btn-outline-info btn-round" target="_blank">Learn more</a>
                            </div>
                            </div><!-- End Toggle -->
                        </div>
                    </div>
                     <div class="col-md-4 col-sm-12">
                        <%= image_tag "blogs/network", alt:"Rounded Image", class:"img-rounded img-responsive" %>
                        <div class="img-details">
                            <div class="author">
                                <%= image_tag "faces/meandyou.jpeg", alt:"Circle Image", class:"img-circle img-no-padding img-responsive" %>
                            </div>
                            <h6 class="info-title"><%= @article4 %></h6>
                        <div class="toggle">
                            <div class="toggle-title ">
                                <p>
                                <span class="title-name btn btn-sm btn-link btn-info">About</span>
                                </p>
                            </div>
                            <div class="toggle-inner">
                                <p><%= @summary4 %></p>
                                <a href="http://ccnpredhot.blogspot.com/2009/04/brgp-route-map-using-redistribution.html" class="btn btn-sm btn-outline-info btn-round" target="_blank">Learn more</a>
                            </div>
                            </div><!-- End Toggle -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <%= image_tag "blogs/network", alt:"Rounded Image", class:"img-rounded img-responsive" %>
                        <div class="img-details">
                            <div class="author">
                                <%= image_tag "faces/meandyou.jpeg", alt:"Circle Image", class:"img-circle img-no-padding img-responsive" %>
                            </div>
                            <h6 class="info-title"><%= @article5 %></h6>
                        <div class="toggle">
                            <div class="toggle-title ">
                                <p>
                                <span class="title-name btn btn-sm btn-link btn-info">About</span>
                                </p>
                            </div>
                            <div class="toggle-inner">
                                <p><%= @summary5 %></p>
                                <a href="http://ccnpredhot.blogspot.com/2008/08/ipv6-configuration-in-cisco-using-ospf.html" class="btn btn-sm btn-outline-info btn-round" target="_blank">Learn more</a>
                            </div>
                            </div><!-- End Toggle -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <%= image_tag "blogs/network", alt:"Rounded Image", class:"img-rounded img-responsive" %>
                        <div class="img-details">
                            <div class="author">
                                <%= image_tag "faces/meandyou.jpeg", alt:"Circle Image", class:"img-circle img-no-padding img-responsive" %>
                            </div>
                            <h6 class="info-title"><%= @article6 %></h6>
                        <div class="toggle">
                            <div class="toggle-title ">
                                <p>
                                <span class="title-name btn btn-sm btn-link btn-info">About</span>
                                </p>
                            </div>
                            <div class="toggle-inner">
                                <p><%= @summary6 %></p>
                                <a href="http://ccnpredhot.blogspot.com/2008/08/ipv4-subnetting.html" class="btn btn-sm btn-outline-info btn-round" target="_blank">Learn more</a>
                            </div>
                            </div><!-- End Toggle -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <%= image_tag "blogs/network", alt:"Rounded Image", class:"img-rounded img-responsive" %>
                        <div class="img-details">
                            <div class="author">
                                <%= image_tag "faces/meandyou.jpeg", alt:"Circle Image", class:"img-circle img-no-padding img-responsive" %>
                            </div>
                            <h6 class="info-title"><%= @article7 %></h6>
                        <div class="toggle">
                            <div class="toggle-title ">
                                <p>
                                <span class="title-name btn btn-sm btn-link btn-info">About</span>
                                </p>
                            </div>
                            <div class="toggle-inner">
                                <p><%= @summary7 %></p>
                                <a href="http://ccnpredhot.blogspot.com/2008/08/isis-design-and-configuration_14.html" class="btn btn-sm btn-outline-info btn-round" target="_blank">Learn more</a>
                            </div>
                            </div><!-- End Toggle -->
                        </div>
                    </div>
				</div>
      </div>
</div>