<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Send me a message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <%= form_for Page.new do |f| %>
                <div class="modal-body">
                        <%= f.text_field :name, class:"form-control", placeholder: "Your Name here", required: true %>
                        <br />
                        <%= f.text_field :email, class:"form-control", placeholder: "youremail@example.com", required: true, pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
                        <br />
                        <%= f.text_area :message, class:"form-control", placeholder: "Tell me about your project", rows:"4", as: :text %>
                        <%= hidden_field_tag :nickname, "leave this field blank" %>
                </div>
                <div class="modal-footer">
                    <div class="left-side">
                        <button type="button" class="btn btn-default btn-link text-danger" data-dismiss="modal">Never mind</button>
                    </div>
                    <div class="right-side">
                        <%= f.submit 'Send Message', class: "btn btn-outline-success btn-sm" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
