
<div class="main section text-center topSpacing">
    <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                  <h2 class="title"><%= @title1 %></h2>
                  <div class="typography-line">
                  <blockquote class="blockquote">
                      <p class="mb-0"><%= @inspiration %></p>
                      <footer class="blockquote-footer"><%=  @owner %></footer>
                  </blockquote>
                  </div>  
              </div>
          </div>
        <br/><br/>
        <div class="row">
          <div class="col-md-6 col-sm-12 resposinVideo">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/qH9xoWXOIfM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <div class="img-details">
                  <h6 class="info-title"><%= @article1 %></h6>
              <div class="toggle">
                  <div class="toggle-title ">
                      <p>
                      <span class="title-name btn btn-sm btn-link btn-info">About</span>
                      </p>
                  </div>
                  <div class="toggle-inner">
                      <p><%= @summary1 %></p>
                  </div>
                  </div><!-- End Toggle -->
              </div>
          </div>
          <div class="col-md-6 col-sm-12 resposinVideo">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/A4pv_NZV2XA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <div class="img-details">
                  <h6 class="info-title"><%= @article2 %></h6>
              <div class="toggle">
                  <div class="toggle-title ">
                      <p>
                      <span class="title-name btn btn-sm btn-link btn-info">About</span>
                      </p>
                  </div>
                  <div class="toggle-inner">
                      <p><%= @summary2 %></p>
                  </div>
                  </div><!-- End Toggle -->
              </div>
          </div>
          <div class="col-md-6 col-sm-12 resposinVideo">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/ZpNA7t3Y3kM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <div class="img-details">
                  <h6 class="info-title"><%= @article3 %></h6>
              <div class="toggle">
                  <div class="toggle-title ">
                      <p>
                      <span class="title-name btn btn-sm btn-link btn-info">About</span>
                      </p>
                  </div>
                  <div class="toggle-inner">
                      <p><%= @summary3 %></p>
                  </div>
                  </div><!-- End Toggle -->
              </div>
          </div>
          <div class="col-md-6 col-sm-12 resposinVideo">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/zxvNZS70810" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <div class="img-details">
                  <h6 class="info-title"><%= @article4 %></h6>
              <div class="toggle">
                  <div class="toggle-title ">
                      <p>
                      <span class="title-name btn btn-sm btn-link btn-info">About</span>
                      </p>
                  </div>
                  <div class="toggle-inner">
                      <p><%= @summary4 %></p>
                  </div>
                  </div><!-- End Toggle -->
              </div>
          </div>
          <div class="col-md-6 col-sm-12 resposinVideo">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/2G4LyCRGxEk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <div class="img-details">
                  <h6 class="info-title"><%= @article5 %></h6>
              <div class="toggle">
                  <div class="toggle-title ">
                      <p>
                      <span class="title-name btn btn-sm btn-link btn-info">About</span>
                      </p>
                  </div>
                  <div class="toggle-inner">
                      <p><%= @summary5 %></p>
                  </div>
                  </div><!-- End Toggle -->
              </div>
          </div>
        </div>
    </div>
</div>
