<div class="main section text-center" id="articles">
      <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <%# <h2 class="title">Projects and Tutorials</h2> %>
                    <div class="typography-line">
                    <blockquote class="blockquote">
                        <p class="mb-0"><%= @articleTitle %></p>
                        <footer class="blockquote-footer"><%= @owner %></footer>
                    </blockquote>
                    </div>  
                </div>
            </div>
          <br/><br/>
            <div class="row">
                <div class="col-4 col-sm-6 col-md-4">
                <%= image_tag "uriel-soberanes.jpg", alt:"Rounded Image", class:"img-rounded img-responsive" %>
                    <div class="img-details">
                        <div class="author">
                            <%= image_tag "faces/meandyou.jpeg", alt:"Circle Image", class:"img-circle img-no-padding img-responsive" %>
                        </div>
                        <h5 class="info-title">Blog</h5>
                        <p>Chet Faker</p>
                        <a href="#pkp" class="btn btn-outline-danger btn-round">See more</a>
                    </div>
                </div>
                <!-- Idea projects -->
                <div class="col-4 col-sm-6 col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title"><%= @ideaTitle %>?</h4>
                            <p><%= @idea %></p>
                            <%= render 'partials/emailbutton'%>
                        </div>
                    </div>
                </div>
                <!-- END Idea projects -->
                <div class="col-4 col-sm-6 col-md-4">
                    <%= image_tag "uriel-soberanes.jpg", alt:"Rounded Image", class:"img-rounded img-responsive" %>
                    <div class="img-details">
                        <div class="author">
                            <%= image_tag "faces/meandyou.jpeg", alt:"Circle Image", class:"img-circle img-no-padding img-responsive" %>
                        </div>
                        <h5 class="info-title">Video Tutorial</h5>
                        <p>Chet Faker</p>
                        <a href="#pkp" class="btn btn-outline-danger btn-round">See more</a>
                    </div>
                </div>
				</div>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <br>
                    <%= link_to articles_index_path, class: 'btn btn-danger btn-round' do %>
                        Learn More
                    <% end %>
                </div>
            </div>
      </div>
</div>