<div class="pages-header banner-image" data-parallax="true" id="mainBanner">
  <div class="filter">
  </div>
  <div class="container">
    <div class="motto text-center">
      <h2 class="presentation-title" ><%= @owner %></h2>
      <h2 class="presentation-title" ><%= @title %></h2>
      <h3>
        <span id="banner-typed-text"></span>
      </h3>
      <br />
        <a href="#" class="btn btn-outline-neutral btn-round">
          <i class="fa fa-play"></i>Latest Video Tutorial
        </a>
        <%= link_to articles_index_path, class: 'btn btn-outline-info btn-round' do %>
            Explore
        <% end %>
    </div>
  </div>
  <div class="moving-clouds">
  </div>
</div>

<%= render 'articles' %>
<%= render 'about' %>
<%= render 'partials/foot' %>