<div class="pages-header banner-image" data-parallax="true" id="mainBanner">
  <div class="filter">
  </div>
  <%# <% if flash[:error].present? %>
      <%# <p> flash[:error]</p> %>
  <%# end %>
  <% unless flash.empty? %>
<script type="text/javascript">
    <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>', '', {"closeButton": false, "debug": false, "positionClass": "toast-bottom-full-width", "onclick": null, "showDuration": "300", "hideDuration": "1000", "timeOut": "5000", "extendedTimeOut": "1000", "showEasing": "swing", "hideEasing": "linear", "showMethod": "fadeIn", "hideMethod": "fadeOut" });
    <% end %>
</script>
<% end %>
  <div class="container">
    <div class="motto text-left">
      <h2 class="presentation-title" ><%= @owner %></h2>
      <h2 class="presentation-title" ><%= @title %></h2>
      <h3>
        <span id="banner-typed-text"></span>
      </h3>
      <br />
        <a href="#" class="btn btn-outline-neutral btn-round">
          <i class="fa fa-play"></i>Latest Video Tutorial
        </a>
        <%= link_to blogs_index_path, class: 'btn btn-outline-info btn-round' do %>
            Explore
        <% end %>
    </div>
  </div>
  <div class="moving-clouds">
  </div>
</div>
<%= render 'blogs' %>
<%= render 'about' %>
<%= render 'gdpr/cookie_consent' %>